{{>header}}
{{>sidebar}}
        <div class="page-wrapper">
            <div class="content">
                <div class="row">
                    <div class="col-sm-4 col-3"> 
                        <h4 class="page-title">Doctors</h4>
                    </div>
                    <div class="col-sm-8 col-9 text-right m-b-20">
                        <a href="add-doctor" class="btn btn-primary btn-rounded float-right"><i class="fa fa-plus"></i> Add Doctor</a>
                    </div>
                </div>

               <div class="row doctor-grid">
                    {{#each userData}}
                    <div class="col-md-4 col-sm-4  col-lg-3">
                        <div class="profile-widget"> 
                            <div class="doctor-img">
                                <a class="avatar" href="/doc_detail_profile/{{this._id}}"><img alt="" src="img/doctor-thumb-03.jpg"></a>
                            </div>
                            <div class="dropdown profile-action">
                                <a href="#" class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-ellipsis-v"></i></a>
                                <div class="dropdown-menu dropdown-menu-right">
                                  <a class="dropdown-item" href="./edit-doctor/{{this._id}}"><i class="fa fa-pencil m-r-5"></i> Edit</a>
                                  <a class="dropdown-item" href="/delete-doctor/{{this._id}}" data-toggle="modal"><i class="fa fa-trash-o m-r-5"></i> Delete</a>
                                  <a class="dropdown-item" href="doc-dashboard/{{this._id}}"><i class="fa fa-pencil m-r-5"></i> Dashboard</a>
                                </div>
                            </div>
                            <h4 class="doctor-name text-ellipsis"><a href="/doc-profile/{{this._id}}"></a>{{this.fullname}}</h4>
                            <div class="doc-prof">{{this.email}}</div>
                            <div class="user-country">
                                <i class="fa fa-map-marker"></i> {{this.Country}}, {{this.City}}
                            </div>
                        </div>
                    </div>
                    {{/each}}

                    
                </div>

                <div class="row">
					<div class="col-12">
						<div class="card">
							<div class="card-body">
								<div class="chart-title">
									<center><b><h4>Doctors graph</h4></b></center>
								
								</div>	
								   <canvas id="myChart" style="width:100%;"></canvas>
               <button onClick="timeFrame('day')" >Day</button>
          <button onclick="timeFrame('month')">Month</button>
          <button onclick="timeFrame('year')" >Year</button>
          <input onchange="filterData()" type="date" id="startdate" value="">
          <input onchange="filterData()" type="date" id="enddate" value="">     
							</div>
						</div>
					</div>
				</div>
                <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/chart.js"></script>
                <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns/dist/chartjs-adapter-date-fns.bundle.min.js"></script>
        
               <script  myvar={{graphDataDoc}}>

          var unique = (a,t={}) => a.filter(e=>!(t[e]=e in t)); // function to find unique dates
          var temp = document.currentScript.getAttribute('myvar'); 
          var arr2=temp.split(","); // spliting from iso date to normal date
         var datapoints=[];
          var curr=1;
         for(var i=1;i<arr2.length;i++){ //counting occurance of each element
            if(arr2[i-1]===arr2[i]){
              ++curr;
            }else{
              datapoints.push(curr);
              curr=1;
            }
         } 
          datapoints.push(curr);
          arr2=unique(arr2);
          var day=[];
          for(var i=0;i<arr2.length;i++){
             day.push({x:Date.parse(arr2[i]),y:datapoints[i]});
          }

          // console.log(day);
        
          var data = {
            labels: arr2,
            datasets: [{
              label: 'Doctors',
              data: day,
              backgroundColor: "skyblue",
              borderColor: "blue",
              borderWidth: 3
            }]
          };
          var config = {
            type: 'line',
            data,
            options: {
              scales: {
                x:{
                  type: 'time',
                  time:{
                    unit: 'month'
                  }
                },
                y: {
                  beginAtZero: true,
                   ticks: {
                    precision: 0
                }
                }
              }
            }
          };
          const myChart = new Chart(
            document.getElementById('myChart'),
            config
          );

          function timeFrame(period){
            if(period=='day'){
              myChart.config.options.scales.x.time.unit=period;
              myChart.config.data.datasets[0].data=day;
            }else if(period=='month'){
              myChart.config.options.scales.x.time.unit=period;
              myChart.config.data.datasets[0].data=day;
            }else if(period=='year'){
              myChart.config.options.scales.x.time.unit=period;
              myChart.config.data.datasets[0].data=day;
            }
            myChart.update();
          }

          function filterData(){
            var dates2=[...arr2];
            const startdate=document.getElementById('startdate');
            const enddate=document.getElementById('enddate');
           const indexstartdate=dates2.findIndex(function(date) {
                            return date >=startdate.value;
                        });
           var indexenddate=dates2.findIndex(function(date) {        
                      if(date==enddate.value){
                          return date;
                        }else if(date>enddate.value){
                          return date;
                        }
                        });
                        if(indexenddate==-1){
                          indexenddate=dates2.length-1;
                        }
           const filterDate= dates2.slice(indexstartdate,indexenddate+1);
            myChart.config.data.labels=filterDate;
            var datapoints2=[...datapoints]
            const filterDatapoints=datapoints2.slice(indexstartdate,indexenddate+1);
            myChart.config.data.datasets[0].data=filterDatapoints;

            myChart.update();
       
          }

          </script> 

				<div class="row">
                    <div class="col-sm-12">
                        <div class="see-all">
                            <a class="see-all-btn" href="javascript:void(0);">Load More</a>
                        </div>
                    </div>
                </div>
            </div>
           
        </div>
    </div>
    {{>footer}}